@import 'react-big-calendar/lib/sass/styles';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display {
  &-flex {
    display: flex;
  }

  &-flex-col {
    display: flex;
    flex-direction: column;
  }

  &-flex-row {
    display: flex;
    flex-direction: row;
  }
}

.align {
  &-center {
    justify-content: center;
    align-items: center;
  }
}